<a target="_blank" href="https://colab.research.google.com/github/bettercodepaul/data2day_2023_polars/blob/main/data2day_2023_Polars_Teil_1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Polars: Der Turbo Boost f√ºr Dataframes

In diesem Notebook lernen wir Polars kennen. Polars ist eine extrem schnelle Dataframe-Bibliothek bzw. In-Memory-Abfrage-Engine. Sie zeichnet sich aus durch extrem parallele Ausf√ºhrung, cache-effiziente Algorithmen und eine ausdrucksstarke API. Dadurch ist sie perfekt f√ºr die effiziente Abfrage und Transformation von Daten.

Polars ist in Rust geschrieben, nutzt das spalten-orientierte Format von Apache Arrow und besitzt eine Python-API.

Mehr Information gibt es hier:

- Homepage von Polars: https://www.pola.rs/
- User-Guide: https://pola-rs.github.io/polars/user-guide/
- API-Referenz: https://pola-rs.github.io/polars/py-polars/html/reference

## Installation + Vorbereitung

In [1]:
import urllib.request
import os.path

In [ ]:
# requirements.txt mit ben√∂tigten Bibliotheken laden
REQUIREMENTS_URL = "https://github.com/bettercodepaul/data2day_2023_polars/raw/main/requirements.txt"
urllib.request.urlretrieve(REQUIREMENTS_URL, os.path.basename(REQUIREMENTS_URL))

In [ ]:
# nicht vergessen, dass die Laufzeitumgebung ggf. neu gestartet werden muss
!pip install -qr requirements.txt

In [2]:
# Polars importieren
import polars as pl

In [ ]:
# bis zu 60 Zeichen pro Spalte ausgeben und Flie√ükommazahlen nicht abk√ºrzen
pl.Config(fmt_str_lengths=60, fmt_float="full")

In [ ]:
# CSV Daten herunterladen
DATA_URL = "https://github.com/bettercodepaul/data2day_2023_polars/raw/main/spotify-charts-2017-2021-global-top200.csv.gz"
LOCAL_DATA_FILE_NAME = os.path.basename(DATA_URL)
urllib.request.urlretrieve(DATA_URL, LOCAL_DATA_FILE_NAME)

In [ ]:
# √úbungen und Hilfsfunktionen herunterladen
EXERCISES_URL = "https://github.com/bettercodepaul/data2day_2023_polars/raw/main/data2day_exercises.py"
urllib.request.urlretrieve(EXERCISES_URL, os.path.basename(EXERCISES_URL))

In [ ]:
# √úbungen und Hilfsfunktionen importieren
from data2day_exercises import *

## Daten einlesen

Polars unterst√ºtzt verschiedene Formate, um Daten in einen Dataframe einzulesen:

- CSV (`read_csv`, `read_csv_batched`)
- Apache Parquet (`read_parquet`)
- Databricks Delta (`read_delta`)
- SQL-Datenbanken (`read_database`, `read_database_uri`)
- JSON (`read_json`, `read_ndjson`)
- Microsoft Excel (`read_excel`)
- Apache OpenOffice (`read_ods`)
- Apache Avro (`read_avro`)
- Apache IPC (`read_ipc`, `read_ipc_stream`)
- Apache Iceberg

Wir lesen zuerst eine CSV-Datei ein.

In [ ]:
# Daten aus CSV-Datei einlesen
df = pl.read_csv(LOCAL_DATA_FILE_NAME)
df.head(2) # die ersten 2 Zeilen ausgeben

Die Datei enth√§lt die t√§glichen Spotify-Charts. Folgende Informationen sind enthalten:

- `title`: Titel des Liedes
- `rank`: Platzierung in den Charts
- `date`: Tag an dem die Charts erhoben wurden
- `artist`: Band oder K√ºnstler:innen, die das Lied performen
- `url`: URL unter der das Lied bei Spotify geh√∂rt werden kann
- `region`: Region oder Land f√ºr die die Charts erhoben werden
- `chart`: Bezeichnung bzw. Art der Charts
- `trend`: Entwicklung der Platzierung des Liedes gegen√ºber dem Vortag
- `streams`: Anzahl der Streams des Eintrags an dem Tag

In jeder Spalte steht unter dem Spaltennamen der Datentyp der Spalte. Die Datums-Spalte wurde als String (`str`) eingelesen, das l√§sst sich mit Hilfe der Option `try_parse_dates` korrigieren.

In [ ]:
# Daten aus CSV-Datei einlesen und Datums-Spalten parsen
df = pl.read_csv(LOCAL_DATA_FILE_NAME, try_parse_dates=True)
df.head(2) # die ersten 2 Zeilen ausgeben

## Projektion (Spalten ausw√§hlen)

Wenn nicht alle Spalten eines Dataframes ben√∂tigt werden, k√∂nnen mit der Methode `select` bestimmte Spalten ausgew√§hlt werden.

In [ ]:
df.select("title", "artist", "url", "streams").head(2)

## Erweiterte Projektion (Spalten ver√§ndern oder hinzuf√ºgen)

Mit Hilfe von Ausdr√ºcken (Expressions) k√∂nnen wir Spalten ver√§ndern oder auch neue Spalten hinzuf√ºgen.

Eine Spalte kann mit der Methode `pl.col` unter Angabe des Spalten-Namens referenziert werden.

In [ ]:
df.select("title", "artist", pl.col("url"), pl.col("streams")).head(2)

Damit wir kleinere Zahlen erhalten, k√∂nnen wir z.B. die Anzahl der Streams in Tausenden angeben.

In [ ]:
# Division mit dem "/" Operator konvertiert zu Floating-Point
df.select(pl.col("title"), pl.col("artist"), pl.col("url"), pl.col("streams")/1000).head(2)

In [ ]:
# Alternative mit "floordiv", gemischte Schreibweise mit reinen Spaltenname und pl.col ist auch m√∂glich
df.select("title", "artist", "url", pl.col("streams").floordiv(1000)).head(2)

Neben Standard-Operatoren wie `+`, `-`, `*` und `/` steht eine Vielzahl von Ausdr√ºcken f√ºr Berechnungen mit Zahlen steht zur Verf√ºgung:

- https://pola-rs.github.io/polars/py-polars/html/reference/expressions/computation.html
- https://pola-rs.github.io/polars/py-polars/html/reference/expressions/operators.html

F√ºr die Manipulation von Strings gibt es ebenfalls viele Funktionen. Diese werden √ºber den eigenen Namensraum `str` angesprochen.

- https://pola-rs.github.io/polars/py-polars/html/reference/expressions/string.html

Ein Auswahl an h√§ufig verwendeten Funktionen f√ºr Strings:

- `str.starts_with`, `str.ends_with`, `str.contains`
- `str.slice`
- `str.replace`
- `str.to_date`, `str.to_datetime`
- `str.split`
- `str.strip_chars`
- `str.n_chars`

In [ ]:
df.select(pl.col("title").str.to_uppercase(), "artist", "url", "streams").head(2)

Um nicht immer alle Spalten, die gar nicht transformiert werden, auflisten zu m√ºssen, kann die Funktion `with_columns` genutzt werden.

In [ ]:
# with_columns entspricht select erg√§nzt um alle fehlenden Spalten
df.with_columns(pl.col("title").str.to_uppercase()).head(2)

Bis jetzt haben wir keine Spalten hinzugef√ºgt. Eine neue Spalte entsteht, wenn wir einen Namen angeben, der bisher noch nicht existiert. Wir k√∂nnen daf√ºr folgende Methoden verwenden:

- `alias` f√ºr einen vollst√§ndig neuen Namen
- `name.prefix`/`name.suffix` um den bestehenden Namen um ein Prefix/Suffix zu erg√§nzen

In [ ]:
# Track-ID aus der URL extrahieren
df.select("title", "url").with_columns(pl.col("url").str.slice(len("https://open.spotify.com/track/")).alias("trackId"), pl.col("title").str.to_uppercase().name.suffix("_uppercase")).head(2)

Wenn die gesamte Abfrage zu lang wird, sollte sie geklammert werden und mit Umbr√ºchen strukturiert werden. Auf diese Art und Weise entsteht eine typische "Abfrage-Pipeline", die von oben nach unten gelesen werden kann.

In [ ]:
(df
  .select("title", "url")
  .with_columns(
    pl.col("url").str.slice(len("https://open.spotify.com/track/")).alias("trackId"),
    pl.col("title").str.to_uppercase().name.suffix("_uppercase")
  )
  .head(2)
)

Wir k√∂nnen auch aggregierende Funktion wie `min`, `max`, `sum`, `mean`, `median`, etc. im `select` benutzen, wodurch wir eine Aggregation erhalten. Benutzen wir dabei eine Spalte mehr als einmal, m√ºssen wir aufpassen einen passenden Namen zu vergeben. Entweder mit `alias` oder mit `suffix`.

In [ ]:
# Zeitraum bestimmen, f√ºr den Daten vorliegen
df.select(pl.col("date").min().name.suffix("_min"), pl.col("date").max().name.suffix("_max"))

## Selektion/Filtern

Mit Hilfe der Selektion l√§sst sich der Datensatz auf bestimmte Datens√§tze filtern.

F√ºr einen schnellen √úberblick lassen sich die Methoden `head`, `tail` und `sample` nutzen.

In [ ]:
# die ersten zwei Zeilen
df.head(2)

In [ ]:
# die letzten zwei Zeilen
df.tail(2)

In [ ]:
# zwei zuf√§llig Zeilen (absolut mit Parameter "n" oder relativ mit Parameter "fraction")
df.sample(n=2)
df.sample(fraction=2/len(df)) # 2/362182 ‚âà 0.000006 ist hier √§quivalent zu n=2

Die Zeilen mit dem gr√∂√üten oder kleinsten Wert in einer Spalte lassen sich mit den Funktionen `top_k` und `bottom_k` ausw√§hlen.

In [ ]:
# der an einem Tag weltweit am meisten gestreamte Song auf Spotify: Easy On Me von Adele
df.top_k(1, by="streams")

Den k√∂nnen wir uns auch anh√∂ren.

In [ ]:
# spielt eine Vorschau des Songs mit Spotify. Bei mehreren Songs im Dataframe kann eine Zeilennummer angegebenen werden.
play_song(df.top_k(1, by="streams"))

Zeilen lassen sich mit der Methode `filter` und einem Boolschen-Ausdruck pr√§zise ausw√§hlen. Wir k√∂nnen z.B. alle Datens√§tze einer bestimmten K√ºnstlerin ausw√§hlen.

In [ ]:
# zwei Zeilen f√ºr die S√§ngerin "Adele"
# eq steht f√ºr equals
df.filter(pl.col("artist").eq("Adele")).head(2)

Eine √úbersicht mit wichtigen Operatoren:
- Gleich (`==`): `eq`
- Ungleich (`!=`): `ne`
- Gr√∂√üer (`>`, `>=`): `gt`, `ge`
- Kleiner (`<`, `<=`): `lt`, `le`
- Zwischen: `is_between`
- Gleich einem aus einer Menge: `is_in`

Logische Ausdr√ºcke lassen sich verkn√ºpfen mit:
- Konjunktion/AND: `&`
- Disjunktion/OR: `|`
- Kontravalenz/XOR: `^`
- Negation/NOT: `~`

In [ ]:
# zwei Eintr√§ge f√ºr das Lied "Easy On Me" von Adele mit mehr als 3 Millionen Streams an einem Tag
df.filter(pl.col("artist").eq("Adele") & pl.col("title").eq("Easy On Me") & pl.col("streams").gt(3_000_000)).head(2)

Anstatt der Operatoren `eq` und `gt` w√§re es auch m√∂glich die Standard-Python-Operatoren `==` und `>` zu nutzen. Dann m√ºssen aber alle logischen Teilausdr√ºcke geklammert werden. Was ihr bevorzugt, ist am Ende Geschmackssache üòÅ

In [ ]:
df.filter(pl.col("artist").eq("Adele") & pl.col("title").eq("Easy On Me") & pl.col("streams").gt(3_000_000)).head(2)
df.filter((pl.col("artist") == "Adele") & (pl.col("title") == "Easy On Me") & (pl.col("streams") > 3_000_000)).head(2)

F√ºr einen Vergleich mit einem konkreten Datum kann das Datum mit der Funktion `pl.date` erzeugt werden.

In [ ]:
# zwei Eintr√§ge f√ºr den 1. Mai 2017
df.filter(pl.col("date").eq(pl.date(2017, 5, 1))).head(2)

In [ ]:
# die Pl√§tze 5 bis 10 f√ºr den 19. Juli 2018
df.filter(pl.col("date").eq(pl.date(2018, 7, 19)) & pl.col("rank").is_between(5, 10))

Wir k√∂nnen uns auch die t√§glichen Streams oder die Platzierung von Liedern mit einer Hilfsfunktion plotten lassen.

In [ ]:
some_song_df = df.filter(pl.col("artist").eq("Juice WRLD") & pl.col("title").eq("Lucid Dreams"))

In [ ]:
plot_streams(some_song_df)

In [ ]:
plot_rank(some_song_df)

## √úbungen zu Projektion und Selektion

Die √úbung kannst du direkt hier im Notebook machen. F√ºr jede √úbung gibt es ein Objekt (`q1`, `q2`, `q3`, ...), das die Frage, einen Hinweis, eine Antwortpr√ºfung und die L√∂sung enth√§lt.

In [ ]:
# Die Methode "question" gibt die Frage aus.
q0.question()

In [ ]:
# Dann gibt es immer eine Zelle mit einem Hinweis in welche Variablen die L√∂sung geschrieben werden sollte.
# Lege gerne weitere Zellen an, um deine L√∂sung genauer inspizieren zu k√∂nnen.
coole_firma = "BettercallPaul"

In [ ]:
# Die Methode "check" pr√ºft eine L√∂sung.
q0.check(coole_firma)

In [ ]:
# Die Methode "hint" zeigt einen Hinweis an.
q0.hint()

In [ ]:
# Die Methode "solution" zeigt die L√∂sung.
q0.solution()

Jetzt bist du dran mit den richtigen √úbungen!

### Frage 1

In [ ]:
q1.question()

In [ ]:
q1_df = ...

In [ ]:
q1.check(q1_df)
#q1.hint()
#q1.solution()

### Frage 2

In [ ]:
q2.question()

In [ ]:
q2_df = ...

In [ ]:
q2.check(q2_df)

### Frage 3

In [ ]:
q3.question()

In [ ]:
q3_df = ...

In [ ]:
q3.check(q3_df)

### Frage 4

In [ ]:
q4.question()

In [ ]:
rank_1 = ...
rank_200 = ...

In [ ]:
q4.check(rank_1, rank_200)

### Frage 5

In [ ]:
q5.question()

In [ ]:
q5_df = ...

In [ ]:
q5.check(q5_df)

### Frage 6

In [ ]:
q6.question()

In [ ]:
q6_df = ...

In [ ]:
q6.check(q6_df)

## Series

Normalerweise arbeiten wir immer auf einem Dataframe. Der Vollst√§ndigkeit halber sei aber erw√§hnt, dass es f√ºr die einzelnen Spalten den Datentyp `Series` gibt. Mit der Methode `get_column` oder dem Subset-Operator `[]` kann eine Spalte von einem Dataframe abgerufen werden.

In [ ]:
df.head(2).get_column("title")

In [ ]:
df.head(2)["title"]

In [ ]:
type(df.get_column("title"))

## Datentypen

Polars kann viele verschiedene Daten in einer Spalte schreiben.

### Zahlen und boolesche Werte

- `Int8`, `Int16`, `Int32`, `Int64`: Ganzzahl
- `Float32`, `Float64`: Flie√ükommazahl
- `UInt8`, `UInt16`, `UInt32`, `UInt64`: nat√ºrliche Zahl (ohne Vorzeichen)
- `Decimal`: 128-Bit Flie√ükommazahl mit hoher Pr√§zision, experimentell
- `Boolean`: logischer Wahrheitswert

Zahlen werden in Polars als 64-Bit Datentypen angelegt, wenn nicht anders angegeben.

Ein Spalte l√§sst sich mit der Funktion `cast` in einen anderen Datentyp konvertieren, um z.B. Speicherplatz zu sparen.

In [ ]:
# Standard-Datentyp ist Int64 bzw. Float64 f√ºr Zahlen
df.select(pl.col("streams")).head(2)

In [ ]:
# wirft einen Fehler, weil einige Werte f√ºr Int16 zu gro√ü sind
try:
    df.select(pl.col("streams").cast(pl.Int16)).head(2)
except pl.ComputeError as e:
    print(e.args)

In [ ]:
# wirft keinen Fehler, weil Int32 ausreichend gro√ü ist
df.select(pl.col("streams").cast(pl.Int32)).head(2)

Aber Achtung bevor du jetzt alles zum kleinstm√∂glichen Datentyp konvertierst: bei 32-Bit Datentypen kann es bei Berechnungen zu √úberlaufen kommen, f√ºr die keine Warnung ausgegeben wird!

In [ ]:
print(f'Anzahl aller Streams mit Int64 ist {df.select(pl.col("streams").sum()).item()}')
print(f'Anzahl aller Streams mit Int32 ist {df.select(pl.col("streams").cast(pl.Int32).sum()).item()}')

Mit der Methode `shrink_dtype` l√§sst sich der Speicherverbrauch ein St√ºck weit auch automatisiert verringern. Dabei wird aber nie von "signed" zu "unsigned" Datentypen gewechselt, auch wenn keine negativen Daten vorhanden sind.

In [ ]:
df.select(pl.col("rank").shrink_dtype()).head(2)

### Datum und Zeit

- `Date`: Datum
- `Time`: Uhrzeit
- `Datetime`: Zeitpunkt
- `Duration`: Zeitdauer

Komponenten aus Daten und Zeiten lassen sich √ºber den Kontext `dt` extrahieren.

In [ ]:
(df
    .select("date")
    .with_columns(
        pl.col("date").dt.year().alias("year"),
        pl.col("date").dt.quarter().alias("quarter"),
        pl.col("date").dt.month().alias("month"),
        pl.col("date").dt.week().alias("week"),
        pl.col("date").dt.weekday().alias("weekday"), # Monday == 1, Sunday == 7
        pl.col("date").dt.day().alias("day"),
    )
    .sample(5)
)

Wir k√∂nnen auch Daten voneinander abziehen oder eine Zeitspanne addieren oder abziehen (`offset_by`).

In [ ]:
(df
    .select("date")
    .with_columns(
        (pl.col("date").dt.month_end() - pl.col("date")).alias("days_till_month_end"),
        pl.col("date").dt.offset_by("1w").alias("same_day_next_week")
    )
    .sample(5)
)

In [ ]:
(df
    .filter(pl.col("date").eq(pl.col("date").dt.month_end()))
    .select("date", pl.col("artist"))
    .sample(5)
)

### Zeichenketten

- `Utf8`: beliebige Zeichenkette
- `Categorical`: Zeichenkette kodiert als Kategorie

### Strukturen

- `List`: Liste mit variabler L√§nge je Zeile
- `Array`: Liste mit fester L√§nger in allen Zeilen
- `Struct`: benamte Felder

### Sonstiges

- `Binary`: bin√§re Daten
- `Object`: beliebiges Python-Objekt

## Sortieren

Mit der Methode `sort` lassen sich Dataframes einfach sortieren.

In [ ]:
df.sort("rank").head(3)

In [ ]:
df.sort("streams", descending=True).head(3)

In [ ]:
df.sort(["rank", "streams"], descending=[False, True]).head(3)

## Daten schreiben

Ein Dataframe kann mit den Methoden `write_*` in verschiedenen Formaten in eine Datei geschrieben werden.

In [ ]:
df_2020 = df.filter(pl.col("date").dt.year().eq(2020))

In [ ]:
# als CSV (ca. 9 MB)
df_2020.write_csv("2020_write_test.csv", )

In [ ]:
# als komprimierte CSV (ca. 2 MB)
import gzip

with gzip.open("2020_write_test.csv.gz", "wb") as f:
    df_2020.write_csv(f)

In [ ]:
# als Apache Parquet (ca. 1 MB)
df_2020.write_parquet("2020_write_test.parquet")

In [ ]:
!ls -l 2020_write_test*

## Optionale √úbungen

### Frage 7

In [ ]:
q7.question()

In [ ]:
q7_df = ...

In [ ]:
q7.check(q7_df)

### Frage 8

In [ ]:
q8.question()

In [ ]:
q8_monday = ...
q8_friday = ...

In [ ]:
q8.check(q8_monday, q8_friday)

### Frage 9

In [ ]:
q9.question()

In [ ]:
q9_df = ...

In [ ]:
q9.check(q9_df)

### Frage 10

In [ ]:
q10.question()

In [ ]:
q10_df = ...

In [ ]:
q10.check(q10_df)

### Frage 11

In [ ]:
q11.question()

In [ ]:
q11_ohne_zedd = ...
q11_mit_zedd = ...

In [ ]:
q11.check(q11_ohne_zedd, q11_mit_zedd)

### Frage 12

In [ ]:
q12.question()

In [ ]:
q12_df = ...

In [ ]:
q12.check(df, q12_df)